.app {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 90px;
    span {
      color: grey;
    }
    margin: 0;
    line-height: 70px;
  }
  h2 {
    font-family: 'HelveticaNowThin', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    color: rgb(75, 75, 75);
    margin: 0;
  }
  .center {
    max-width: 700px;
    text-align: center;
  }
  input {
    width: 125px;
  }
  .img-r {
    width: 100%;
    height: auto;
  }
  font-size: 20px;
  small {
    font-family: 'HelveticaNowThin';
  }
}
