@font-face {
  font-family: 'HelveticaNowExtraBold';
  src: url('./fonts/HelveticaNowText-ExtraBold.woff2') format('woff2'),
    url('./fonts/HelveticaNowText-ExtraBold.woff') format('woff'),
    url('./fonts/HelveticaNowText-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaNowThin';
  src: url('./fonts/HelveticaNowText-Thin.woff2') format('woff2'),
    url('./fonts/HelveticaNowText-Thin.woff') format('woff'),
    url('./fonts/HelveticaNowText-Thin.ttf') format('truetype');
}

body,
html,
#root {
  margin: 0;
  font-family: 'HelveticaNowExtraBold', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

div > a.link {
  color: red;
}

div a.link {
  color: green;
}

.digit {
  display: inline-block;
  font-family: 'HelveticaNowThin';
  font-size: 16px;
  opacity: 0;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0 7px;
  margin: 0 5px 5px 0;
  box-sizing: border-box;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  outline-color: red;
  &:focus {
    outline-color: transparent;
    outline-style: none;
  }
}

input:disabled {
  color: #ccc;
}

input[type='range'] {
  height: 0;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}
button {
  border: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  padding: 0 7px;
}
button:hover {
  background-color: rgb(119, 119, 119);
}
button:disabled {
  background: #dddddd;
  cursor: progress;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #bfbfbf;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #bfbfbf;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #bfbfbf;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #bfbfbf;
}
